a.btn.btn-linaro-home {
    border: 2px solid #fff;
    color: #fff !important;
    letter-spacing: 2px;
    border-radius: 1px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px;
    margin-right: 5px;
    
    transition: all 500ms ease;
}
a.btn.btn-linaro-home:hover {
    background-color: #fff;
    color: #000 !important;
}

.vcenter-img {
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}

.content-container h3 {
    color: #9758b7 !important;
}
.content-container a h3:hover {
    opacity: .8;
}
ul#tabbed_nav > li.active > a:after {
    height: 1px;
    background-color: #fff;
}

ul#tabbed_nav > li.active > a {
    border-bottom: none;
}

ul#tabbed_nav > li > a {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 13px;
}


div#tabbed_nav_content {
    margin-top:0;
    padding: 10px;
    border-right: 1px solid  #eee;
    border-left: 1px solid #eee;
    border-bottom:1px solid #eee;
    margin-bottom: 20px;
}

div#tabbed_nav_content > div.tab-pane {
    margin-top:0;
    padding: 10px
}

ul#tabbed_nav {
    border: 1px solid #eee;
    margin-bottom:0 !important;
}
#footer a.footer-element {
    color: $footer-text-color;
}
#footer a.footer-element:hover {
    color: $brand-primary;
}


.col-md-6.company-footer-bottom {
    font-size: 13px;
}

a.btn.btn-social-icon i {
    color: #252525;
    transition: all 500ms ease;
}
a.btn.btn-social-icon:hover i {
    color: $brand-primary;
}

.row.footer-strip {
    border-top-color: #ccc;
}

#footer .col-md-6.company-footer-bottom a {
    color:$footer-text-color;
}

#footer .col-md-6.company-footer-bottom a:hover {
    color: $brand-primary;
}


//Wordpress style
#main-container blockquote, #main-container code, #main-container dl, #main-container fieldset,
#main-container p, #main-container pre, #main-container table, #main-container ul {
    margin-bottom: 25px;
}


body {
    font-family: Arial !important;
    letter-spacing: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial !important;
    letter-spacing: 0 !important;
}

#main-container a:hover {
    text-decoration: none;
    color: darken($brand-primary, 20%);
}
.content-container ul > li {
    font-size: 16px;
    line-height: 26px;
}
blockquote{
    background-color: #f6f6f6;

}
blockquote:before {
    position: relative;
    background-image:url('data:image/svg+xml; utf8, <svg class="mk-svg-icon" xmlns="http://www.w3.org/2000/svg" fill="#ddd" viewBox="0 0 1664 1792"><path d="M768 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z"></path></svg>');
    content: "";
    display: block;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 35px;
}
ul.nav.nav-pills.nav-stacked li:first-child {
    font-weight: bold;
}
.content-container ul {
    color: #252525 !important;
    font-size: 16px !important;
}
p {
  color: #252525;
  font-size: 16px;
}

ul {
    font-size: 16px;
}
.container-fluid.content-container {
    padding-top: 20px !important;
}
.content-container h1, .content-container h2, .content-container h3, .content-container h4, .content-container h5 {
    color: #393836 !important;
}

.social-col{
    padding-left: 30px;
    padding-right: 30px;
}

span.linaro-green{
    color: #9FCC45;
}

.content-container p {
    font-size:16px !important;
    color: #252525 !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 5px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

//Caption divs for home page content on slider
.carousel-caption.top-caption {
    top: 0;
    margin-top: 47px;
}

.carousel-caption.right-caption {
    top: 0;
    margin-top: 47px;
    right:-100px;
}

a.carousel-control{
    border-radius: 50px;
    border: solid 1px white;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
a.carousel-control span.glyphicon-menu-left {
    top: 12px;
    left: -5px;
}
a.carousel-control span.glyphicon-menu-right {
    top: 12px;
    right: 2px;
}

div.dark {
    background: #696969;
}
#main-container p.justify {
    font-size: 16px;
    text-align: justify;
    line-height: 1.66em;
}
.content-container h2 {
    font-size: 30px;
    color: #3D383E;
    font-weight: 200;
    text-transform: none;
}
div#featured-jumbotron {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 320px;
}
// Import the Open Sans Font for Home Page Sliders
@font-face {
    font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}
body{
    font-family: 'Open Sans';
}
@media (max-width: 767px) {
    ul#tabbed_nav > li {
        width: 100%;
    }
    ul#tabbed_nav > li > a {
        border:0;
    }
    ul#tabbed_nav > li > a:after {
        height: 1px;
        background-color: #fff;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}
@media(min-width:992px){
    .row.activity-holder.center-block {
        height: auto;
    }
}
@media (max-width: 767px) {
    a.left.carousel-control {
        display: none;
    }
    a.right.carousel-control{
        display: none;
    }
    #main-container .members-links {
        padding: 0;
    }
    .col-md-12.members-panel {
        padding: 0;
    }
    .panel-body.members-panel-body {
        padding: 0;
    }
    .col-sm-3.members_link {
        height: 45px;
        line-height: 45px;
        padding: 0;
        padding-left: 5px;
    }
}
//Smallest mobile view
@media(max-width:767px){
    img.img-responsive.right-aligned-image.lazyloaded {
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -9px;
        margin-bottom: -15px;
    }
    h1.linaro-title{
        font-size:38px;
        font-weight: 600;
    }
    h2.linaro-sub-title{
        font-size:30px;
        font-weight:400;
        margin-top: 50px;
    }
    #homepage-jumbotron {
        padding: 20px;
    }
    a.boards-home-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
