// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables

$brand-primary: #8ed4de;
$navbar-height: 66px !important;
$navbar-inverse-bg: #373737;
$navbar-inverse-color: #fff;
$footer-bg-color: #373737;
$sub-footer-color: #ededed;
$navbar-base-text-color: #fff;
$footer-text-color: #fff;
$home-page-title-text: #fff;
$home-page-main-title-color: $brand-primary;