<div id="jumbotron-caption">
    <img alt="Linaro Enterprise Reference Platforms logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
    data-src="/assets/images/reference-platforms-logo.png" 
    class="fade-in-one img-responsive center-block lazyload" 
    alt="Connect Logo"/>
    <h2 class="fade-in-two">
        <span class="line">{{site.title}}</span>
    </h2>
    <h3 class="fade-in-two">
        <span class="line">The Reference Platform </span>
        <span class="line">is an end to end, open software stack.</span>
    </h3>
    <p id="buttons" class="text-center">
        <a href="/about/" class="btn btn-linaro-home fade-in-three" >Get Started</a>
    </p>
</div>