<div id="homepage-jumbotron">
  <div id="jumbotron-image"></div>
  <div class="container">
      <div class="col-md-12">
        <img src="{% asset_path 'reference-platforms-logo.png' %}" id="reference-platforms-image" class="img-responsive center-block fade-in-one" alt="Reference Platforms Image">
      </div>
      <div class="col-md-12">
        <h1 id="home-page-title" class="text-center ">Reference Platforms</h1>
        <h4 id="home-page-text" class="text-center">for the ARM Ecosystem</h4>
        <br />
      </div>
  </div>
    {% include _theme-includes/_page-structure/shape-divider.html %}
</div>
